.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.info-bar__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  cursor: pointer;
}

.info-bar__img-left {
  width: 25px;
  position: absolute;
  left: 10px;
}

.info-bar__img-right {
  width: 25px;
  margin-left: 5px;
}

.info-bar__text {
  font-weight: bold;
  font-size: 30px;
  margin: 0px 30px 0px 30px;
  cursor: pointer;
}
